
<center><h1> Welcome to Cab Booking System </h1><center>
<br>
<br>
<a href = "/drivers"><button class="btn btn-primary"> Click here to enter driver module </button></a>
<br>
<br>
<br>
<a href = "/riders"><button class="btn btn-primary">Click here to enter rider module</button></a>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                